{
  "log": {
    "_recordingName": "Velcro.runner/jsdelivr/will require the events shim",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "3f32c88c47fb2deeb01e2cefc7b0e43b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cdn.jsdelivr.net/npm/@velcro/node-libs@0.54.1/package.json"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=utf-8",
            "size": 51,
            "text": "Couldn't find the requested release version 0.54.1."
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"33-klWjUSgsM8/pMHGBOkAdJnO1WZA\""
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 3095,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
