{
  "log": {
    "_recordingName": "Velcro.runner/jsdelivr/will require the events shim",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "b80f15554f5e10be948993043e9b00fc",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cdn.jsdelivr.net/npm/@velcro/node-libs@0.56.2/package.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1569,
            "text": "{\n  \"name\": \"@velcro/node-libs\",\n  \"version\": \"0.56.2\",\n  \"description\": \"A curated collection of browser-compatible shims for node core modules\",\n  \"keywords\": [\n    \"node\",\n    \"core\",\n    \"libs\",\n    \"shim\",\n    \"browser\",\n    \"webpack\",\n    \"browserify\"\n  ],\n  \"author\": \"Geoff Goodman <ggoodman@gmail.com>\",\n  \"homepage\": \"https://github.com/ggoodman/velcro\",\n  \"license\": \"MIT\",\n  \"main\": \"lib/index.js\",\n  \"files\": [\n    \"lib\"\n  ],\n  \"publishConfig\": {\n    \"access\": \"public\"\n  },\n  \"repository\": {\n    \"type\": \"git\",\n    \"url\": \"git@github.com:ggoodman/velcro.git\"\n  },\n  \"scripts\": {\n    \"build\": \"echo Nothing to build\",\n    \"test\": \"echo Nothing to test\"\n  },\n  \"dependencies\": {\n    \"@types/hapi__code\": \"^5.3.0\",\n    \"@wessberg/rollup-plugin-ts\": \"^1.3.5\",\n    \"assert\": \"1.4.1\",\n    \"browserify-zlib\": \"^0.2.0\",\n    \"buffer\": \"5.2.1\",\n    \"crypto-browserify\": \"3.12.0\",\n    \"events\": \"3.0.0\",\n    \"memfs\": \"^2.15.5\",\n    \"node-libs-browser\": \"^2.2.0\",\n    \"os-browserify\": \"^0.3.0\",\n    \"querystring\": \"^0.2.0\",\n    \"readable-stream\": \"^3.3.0\",\n    \"stream-http\": \"^3.0.0\",\n    \"string_decoder\": \"^1.2.0\",\n    \"url-parse\": \"^1.4.6\",\n    \"util\": \"^0.11.1\",\n    \"vmdom\": \"^0.0.23\"\n  },\n  \"devDependencies\": {\n    \"@microsoft/api-documenter\": \"^7.9.1\",\n    \"@microsoft/api-extractor\": \"^7.10.1\",\n    \"@types/node\": \"^11.15.27\",\n    \"eslint\": \"^5.16.0\",\n    \"typescript\": \"^4.0.3\"\n  },\n  \"prettier\": {\n    \"printWidth\": 120,\n    \"singleQuote\": true,\n    \"tabWidth\": 2,\n    \"trailingComma\": \"es5\"\n  },\n  \"gitHead\": \"119090915cf2c484524e8dba7538202cbe2ddcce\"\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"621-+xdgkz119ybFc7LTDxEnCyjMq/E\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 59,
      },
      {
        "_id": "a10b297774b4866b85d85ff89de404a4",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://data.jsdelivr.com/v1/package/npm/@velcro/node-libs@0.56.2/tree"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 5067,
            "text": "{\n\t\"default\": \"/lib/index.min.js\",\n\t\"files\": [\n\t\t{\n\t\t\t\"type\": \"directory\",\n\t\t\t\"name\": \"lib\",\n\t\t\t\"files\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"file\",\n\t\t\t\t\t\"name\": \".eslintrc\",\n\t\t\t\t\t\"hash\": \"MhHrTO5WOSbkJNeN5u1oQcLoe8FrhiTgtjJ02aXRry8=\",\n\t\t\t\t\t\"time\": \"1985-10-26T08:15:00.000Z\",\n\t\t\t\t\t\"size\": 169\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"file\",\n\t\t\t\t\t\"name\": \"assert.js\",\n\t\t\t\t\t\"hash\": \"ILDdjAhcVSfj8whMQzCramZMBNxgaM6efs6cOt0PWXs=\",\n\t\t\t\t\t\"time\": \"1985-10-26T08:15:00.000Z\",\n\t\t\t\t\t\"size\": 81\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"file\",\n\t\t\t\t\t\"name\": \"buffer.js\",\n\t\t\t\t\t\"hash\": \"FpAB9BUBLMAH/NjmlUHOf0fl[...]
