{
  "log": {
    "_recordingName": "Velcro.Resolver/unpkg/will resolve htm/react",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "b543e4df7d1a77b91638cc050f12b2d4",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://unpkg.com/htm@3.0.4/package.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3300,
            "text": "{\n  \"name\": \"htm\",\n  \"version\": \"3.0.4\",\n  \"description\": \"The Tagged Template syntax for Virtual DOM. Only browser-compatible syntax.\",\n  \"main\": \"dist/htm.js\",\n  \"umd:main\": \"dist/htm.umd.js\",\n  \"module\": \"dist/htm.module.js\",\n  \"types\": \"dist/htm.d.ts\",\n  \"scripts\": {\n    \"build\": \"npm run -s build:main && npm run -s build:mini && npm run -s build:preact && npm run -s build:react && npm run -s build:babel && npm run -s build:babel-transform-jsx && npm run -s build:mjsalias\",\n    \"build:main\": \"microbundle src/index.mjs -f es,umd --no-sourcemap --target web && microbundle src/cjs.mjs -f iife --no-sourcemap --target web && cp src/index.d.ts dist/htm.d.ts\",\n    \"build:mini\": \"microbundle src/index.mjs -o ./mini/index.js -f es,umd --no-sourcemap --target web --alias ./constants.mjs=./constants-mini.mjs && microbundle src/cjs.mjs -o ./mini/index.js -f iife --no-sourcemap --target web --alias ./constants.mjs=./constants-mini.mjs && cp src/index.d.ts mini\",\n    \"build:preact\": \"cd src/integrations/preact && npm run build\",\n    \"build:react\": \"cd src/integrations/react && npm run build\",\n    \"build:babel\": \"cd packages/babel-plugin-htm && npm run build\",\n    \"build:babel-transform-jsx\": \"cd packages/babel-plugin-transform-jsx-to-htm && npm run build\",\n    \"build:mjsalias\": \"cp dist/htm.module.js dist/htm.mjs && cp mini/index.module.js mini/index.mjs && cp preact/index.module.js preact/index.mjs && cp preact/standalone.module.js preact/standalone.mjs && cp react/index.module.js react/index.mjs\",\n    \"test\": \"eslint src/**/*.mjs test/**/*.mjs && npm run build && jest test\",\n    \"test:perf\": \"v8 test/__perftest.mjs\",\n    \"release\": \"npm t && git commit -am \\\"$npm_package_version\\\" && git tag $npm_package_version && git push && git push --tags && npm publish\"\n  },\n  \"files\": [\n    \"dist\",\n    \"mini\",\n    \"preact\",\n    \"react\",\n    \"src\"\n  ],\n  \"eslintConfig\": {\n    \"extends\": \"developit\",\n    \"rules\": {\n      \"prefer-const\": 0,\n      \"prefer-spread\": 0,\n      \"prefer-rest-params\": 0,\n      \"func-style\": 0\n    }\n  },\n  \"jest\": {\n    \"testURL\": \"http://localhost\",\n    \"testMatch\": [\n      \"**/__tests__/**/*.?(m)js?(x)\",\n      \"**/?(*.)(spec|test).?(m)js?(x)\"\n    ],\n    \"transform\": {\n      \"\\\\.m?js$\": \"babel-jest\"\n    },\n    \"moduleFileExtensions\": [\n      \"mjs\",\n      \"js\"\n    ],\n    \"moduleNameMapper\": {\n      \"^babel-plugin-transform-jsx-to-htm$\": \"<rootDir>/packages/babel-plugin-transform-jsx-to-htm/index.mjs\",\n      \"^babel-plugin-htm$\": \"<rootDir>/packages/babel-plugin-htm/index.mjs\",\n      \"^htm$\": \"<rootDir>/src/index.mjs\",\n      \"^htm/preact$\": \"<rootDir>/src/integrations/preact/index.mjs\"\n    }\n  },\n  \"repository\": \"developit/htm\",\n  \"keywords\": [\n    \"Hyperscript Tagged Markup\",\n    \"tagged template\",\n    \"template literals\",\n    \"html\",\n    \"htm\",\n    \"jsx\",\n    \"virtual dom\",\n    \"hyperscript\"\n  ],\n  \"author\": \"Jason Miller <jason@developit.ca>\",\n  \"license\": \"Apache-2.0\",\n  \"homepage\": \"https://github.com/developit/htm\",\n  \"devDependencies\": {\n    \"@babel/core\": \"^7.2.2\",\n    \"@babel/preset-env\": \"^7.1.6\",\n    \"babel-jest\": \"^24.1.0\",\n    \"babel-preset-env\": \"^1.7.0\",\n    \"eslint\": \"^5.2.0\",\n    \"eslint-config-developit\": \"^1.1.1\",\n    \"jest\": \"^24.1.0\",\n    \"microbundle\": \"^0.10.1\",\n    \"preact\": \"^10.0.0\",\n    \"react\": \"^16.8.3\"\n  }\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Sat, 26 Oct 1985 08:15:00 GMT"
            },
            {
              "name": "etag",
              "value": "W/\"ce4-q9V8em4/was0za55bipyNPimk78\""
            },
            {
              "name": "x-cloud-trace-context",
              "value": "94198a21cb505461f8b2619c4b6c897a"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 82,
      },
      {
        "_id": "c8542cfffe855c7a794ed1e964b2372e",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "meta",
              "value": null
            }
          ],
          "url": "https://unpkg.com/htm@3.0.4/?meta"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 9738,
            "text": "{\"path\":\"/\",\"type\":\"directory\",\"files\":[{\"path\":\"/LICENSE\",\"type\":\"file\",\"contentType\":\"text/plain\",\"integrity\":\"sha384-y6ya0NFYQBWrDYk1ryOS/8CoUlx/L1khJoWJvyVMtEjWvngakLiFBsblQKBT1C9q\",\"lastModified\":\"Sat, 26 Oct 1985 08:15:00 GMT\",\"size\":11341},{\"path\":\"/dist\",\"type\":\"directory\",\"files\":[{\"path\":\"/dist/htm.js\",\"type\":\"file\",\"contentType\":\"application/javascript\",\"integrity\":\"sha384-iPOMe3E8jVgp/PepuDy7lJvw7L/QP97X5POfi+X1EVyDVQi8Kuv/MooNVB5OFXVN\",\"lastModified\":\"Sat, 26 Oct 1985 08:15:00 GMT\",\"size\":1265},{\"path\":\"/dist/htm.module.js\",\"type\":\"file\",\"contentType\":\"application/javascript\",\"integrity\":\"sha384-k7/PyxcXOQ/zfJq1v0TM/CcBLQ2m2NzGg2[...]
