{
  "log": {
    "_recordingName": "Velcro.Resolver/unpkg/will resolve react-dom/server",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "6ae36eb149fd431ae82b5aa8c09a3934",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://unpkg.com/react-dom@16.13.1/package.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1172,
            "text": "{\n  \"name\": \"react-dom\",\n  \"version\": \"16.13.1\",\n  \"description\": \"React package for working with the DOM.\",\n  \"main\": \"index.js\",\n  \"repository\": {\n    \"type\": \"git\",\n    \"url\": \"https://github.com/facebook/react.git\",\n    \"directory\": \"packages/react-dom\"\n  },\n  \"keywords\": [\n    \"react\"\n  ],\n  \"license\": \"MIT\",\n  \"bugs\": {\n    \"url\": \"https://github.com/facebook/react/issues\"\n  },\n  \"homepage\": \"https://reactjs.org/\",\n  \"dependencies\": {\n    \"loose-envify\": \"^1.1.0\",\n    \"object-assign\": \"^4.1.1\",\n    \"prop-types\": \"^15.6.2\",\n    \"scheduler\": \"^0.19.1\"\n  },\n  \"peerDependencies\": {\n    \"react\": \"^16.13.1\"\n  },\n  \"files\": [\n    \"LICENSE\",\n    \"README.md\",\n    \"build-info.json\",\n    \"index.js\",\n    \"profiling.js\",\n    \"server.js\",\n    \"server.browser.js\",\n    \"server.node.js\",\n    \"test-utils.js\",\n    \"unstable-fire.js\",\n    \"unstable-fizz.js\",\n    \"unstable-fizz.browser.js\",\n    \"unstable-fizz.node.js\",\n    \"unstable-native-dependencies.js\",\n    \"cjs/\",\n    \"umd/\"\n  ],\n  \"browser\": {\n    \"./server.js\": \"./server.browser.js\",\n    \"./unstable-fizz.js\": \"./unstable-fizz.browser.js\"\n  },\n  \"browserify\": {\n    \"transform\": [\n      \"loose-envify\"\n    ]\n  }\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Sat, 26 Oct 1985 08:15:00 GMT"
            },
            {
              "name": "etag",
              "value": "W/\"494-AEogy6b9uxqOMWATuw27f//Oprw\""
            },
            {
              "name": "x-cloud-trace-context",
              "value": "f54567e509bc26e51f0e4a9adaf4b397"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 125,
      },
      {
        "_id": "28e95413c5702f8281866044f299f928",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "meta",
              "value": null
            }
          ],
          "url": "https://unpkg.com/react-dom@16.13.1/?meta"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 9901,
            "text": "{\"path\":\"/\",\"type\":\"directory\",\"files\":[{\"path\":\"/package.json\",\"type\":\"file\",\"contentType\":\"application/json\",\"integrity\":\"sha384-pqfWvkNyTHHKOo/Ts+cd3tyOEirnOOy2jiktygP+wh3HQRsIYOGrOz82itJH79Le\",\"lastModified\":\"Sat, 26 Oct 1985 08:15:00 GMT\",\"size\":1172},{\"path\":\"/build-info.json\",\"type\":\"file\",\"contentType\":\"application/json\",\"integrity\":\"sha384-hL/Xu+nrTu+Q5T+HqOuezkIYIgFnhu8dliqgHHQ2MuyoVol7/PeXR+xnVAr7ESXv\",\"lastModified\":\"Sat, 26 Oct 1985 08:15:00 GMT\",\"size\":168},{\"path\":\"/index.js\",\"type\":\"file\",\"contentType\":\"application/javascript\",\"integrity\":\"sha384-f7GpHHs/ZlueJ/MIr7mnf1LXiBp5qu33SvTYu+mTis4INSvlZcAEPZsYv0ss5Lfg\",\"lastModified\":\"Sat, 26 Oct 1985[...]
