{
  "log": {
    "_recordingName": "Velcro.runner/unpkg/will render hello world using react-dom/server",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "4b82b376309b5e73f7641b6047e6ed66",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://unpkg.com/react-dom@^16.13.1/package.json"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=utf-8",
            "size": 53,
            "text": "Found. Redirecting to /react-dom@16.14.0/package.json"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=utf-8"
            },
            {
              "name": "location",
              "value": "/react-dom@16.14.0/package.json"
            },
            {
              "name": "x-cloud-trace-context",
              "value": "6a3f8e6d5d9da5cb2b02e7d30242d5b3"
            }
          ],
          "status": 302,
          "statusText": "Found"
        },
        "time": 72,
      },
      {
        "_id": "67287ec25216d58c4807513b11abbe9c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://unpkg.com/react@^16.13.1/package.json"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=utf-8",
            "size": 49,
            "text": "Found. Redirecting to /react@16.14.0/package.json"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=utf-8"
            },
            {
              "name": "location",
              "value": "/react@16.14.0/package.json"
            },
            {
              "name": "x-cloud-trace-context",
              "value": "985afea7620e010d1cd88d333f70604f"
            }
          ],
          "status": 302,
          "statusText": "Found"
        },
        "time": 81,
      },
      {
        "_id": "c6d4518f3da844c87fcfb38a5c55bffc",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://unpkg.com/react-dom@16.14.0/package.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1280,
            "text": "{\n  \"browser\": {\n    \"./server.js\": \"./server.browser.js\",\n    \"./unstable-fizz.js\": \"./unstable-fizz.browser.js\"\n  },\n  \"browserify\": {\n    \"transform\": [\n      \"loose-envify\"\n    ]\n  },\n  \"bugs\": {\n    \"url\": \"https://github.com/facebook/react/issues\"\n  },\n  \"bundleDependencies\": false,\n  \"dependencies\": {\n    \"loose-envify\": \"^1.1.0\",\n    \"object-assign\": \"^4.1.1\",\n    \"prop-types\": \"^15.6.2\",\n    \"scheduler\": \"^0.19.1\"\n  },\n  \"deprecated\": false,\n  \"description\": \"React package for working with the DOM.\",\n  \"files\": [\n    \"LICENSE\",\n    \"README.md\",\n    \"build-info.json\",\n    \"index.js\",\n    \"profiling.js\",\n    \"server.js\",\n    \"server.browser.js\",\n    \"server.node.js\",\n    \"test-utils.js\",\n    \"unstable-fire.js\",\n    \"unstable-fizz.js\",\n    \"unstable-fizz.browser.js\",\n    \"unstable-fizz.node.js\",\n    \"unstable-native-dependencies.js\",\n    \"cjs/\",\n    \"umd/\"\n  ],\n  \"homepage\": \"https://reactjs.org/\",\n  \"keywords\": [\n    \"react\"\n  ],\n  \"license\": \"MIT\",\n  \"main\": \"index.js\",\n  \"name\": \"react-dom\",\n  \"peerDependencies\": {\n    \"react\": \"^16.14.0\"\n  },\n  \"repository\": {\n    \"type\": \"git\",\n    \"url\": \"git+https://github.com/facebook/react.git\",\n    \"directory\": \"packages/react-dom\"\n  },\n  \"scripts\": {\n    \"start\": \"node server.js\"\n  },\n  \"version\": \"16.14.0\"\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Sat, 26 Oct 1985 08:15:00 GMT"
            },
            {
              "name": "etag",
              "value": "W/\"500-ghBdt19XWdthjVlR2MP612pzijk\""
            },
            {
              "name":[...]
