*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #222;
  background-color: #fff;
}

.workbench {
  display: grid;
  grid-template-columns: minmax(20%, 200px) 1fr 1fr;
  grid-template-rows: auto 16px;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.workbench .file_tree {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.workbench .editor {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

.workbench .preview {
  grid-column: 3 / 3;
  grid-row: 1 / 1;
}

.workbench .statusbar {
  grid-column: 1 / 4;
  grid-row: 2 / 2;
}

.file_tree {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}

.file {
  flex: 0 0 24px;
  align-content: center;
  align-items: center;
  padding-left: 4px;
  display: flex;
}

.file:hover {
  background: #ccc;
  cursor: pointer;
}

.file.active {
  background-color: #4a9fba;
}

.file.focused {
  background-color: #008cba;
}

.file.active .path {
  color: #fff;
}

.create {
  flex: 0 0 24px;
  align-content: center;
  align-items: center;
  padding-left: 4px;
  display: flex;
}

.create:hover {
  background: #ccc;
  cursor: pointer;
}

.file.focused .path {
}

.file .path {
}

.editor {
  border-right: 1px solid #ddd;
  overflow: hidden;
}

.preview {
  display: flex;
  flex-direction: column;
  position: relative;
}

.preview .iframe {
  flex: 1 1 100%;
  height: 100%;
  border: none;
}

.preview .iframe.loading {
  display: none;
}

.preview .status {
  position: absolute;
  z-index: 1;

  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em 2em;
  font-family: monospace;
  font-size: 16px;
}

.preview .status.error {
  background-color: rgba(255, 0, 0, 0.5);
  backdrop-filter: brightness(50%);
  color: white;
}

.preview .status.info {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: brightness(50%);
  color: white;
}

.statusbar {
  background: #ececec;
  border-top: 1px solid #ddd;
}
