{
  "log": {
    "_recordingName": "Velcro.runner/unpkg/will require the events shim",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "3f32c88c47fb2deeb01e2cefc7b0e43b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cdn.jsdelivr.net/npm/@velcro/node-libs@0.54.1/package.json"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=utf-8",
            "size": 69,
            "text": "[\"1f8b080000000000000373ce2fcd49c9532f5148cbcc4b5128c94855284a2d2c4d2d2e494d01b27252138b5315ca528b8a33f3f3140cf44c4df40cf50052ba284133000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"33-klWjUSgsM8/pMHGBOkAdJnO1WZA\""
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 87,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
