{
  "log": {
    "_recordingName": "Velcro.Resolver/jsDelivr/will resolve react-dom/server",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "6834252036e8afeabd5ca31e24d19d1d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cdn.jsdelivr.net/npm/react-dom@16.13.1/package.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1172,
            "text": "{\n  \"name\": \"react-dom\",\n  \"version\": \"16.13.1\",\n  \"description\": \"React package for working with the DOM.\",\n  \"main\": \"index.js\",\n  \"repository\": {\n    \"type\": \"git\",\n    \"url\": \"https://github.com/facebook/react.git\",\n    \"directory\": \"packages/react-dom\"\n  },\n  \"keywords\": [\n    \"react\"\n  ],\n  \"license\": \"MIT\",\n  \"bugs\": {\n    \"url\": \"https://github.com/facebook/react/issues\"\n  },\n  \"homepage\": \"https://reactjs.org/\",\n  \"dependencies\": {\n    \"loose-envify\": \"^1.1.0\",\n    \"object-assign\": \"^4.1.1\",\n    \"prop-types\": \"^15.6.2\",\n    \"scheduler\": \"^0.19.1\"\n  },\n  \"peerDependencies\": {\n    \"react\": \"^16.13.1\"\n  },\n  \"files\": [\n    \"LICENSE\",\n    \"README.md\",\n    \"build-info.json\",\n    \"index.js\",\n    \"profiling.js\",\n    \"server.js\",\n    \"server.browser.js\",\n    \"server.node.js\",\n    \"test-utils.js\",\n    \"unstable-fire.js\",\n    \"unstable-fizz.js\",\n    \"unstable-fizz.browser.js\",\n    \"unstable-fizz.node.js\",\n    \"unstable-native-dependencies.js\",\n    \"cjs/\",\n    \"umd/\"\n  ],\n  \"browser\": {\n    \"./server.js\": \"./server.browser.js\",\n    \"./unstable-fizz.js\": \"./unstable-fizz.browser.js\"\n  },\n  \"browserify\": {\n    \"transform\": [\n      \"loose-envify\"\n    ]\n  }\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"494-AEogy6b9uxqOMWATuw27f//Oprw\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 130,
      },
      {
        "_id": "e196d19dd1eb3e88b7e478d4962c20dc",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://data.jsdelivr.com/v1/package/npm/react-dom@16.13.1/tree"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 8087,
            "text": "{\n\t\"default\": \"/index.min.js\",\n\t\"files\": [\n\t\t{\n\t\t\t\"type\": \"directory\",\n\t\t\t\"name\": \"cjs\",\n\t\t\t\"files\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"file\",\n\t\t\t\t\t\"name\": \"react-dom.development.js\",\n\t\t\t\t\t\"hash\": \"Cb0IVy7d5GfNR5bgnzrC+XEQQschENkX2MzJBLV/uy0=\",\n\t\t\t\t\t\"time\": \"1985-10-26T08:15:00.000Z\",\n\t\t\t\t\t\"size\": 858814\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"file\",\n\t\t\t\t\t\"name\": \"react-dom.production.min.js\",\n\t\t\t\t\t\"hash\": \"NxFjo6cQu87C2PU6ygTxs0FThMaJqlhEQpwP/9YXfRY=\",\n\t\t\t\t\t\"time\": \"1985-10-26T08:15:00.000Z\",\n\t\t\t\t\t\"size\": 118737\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"file\",\n\t\t\t\t\t\"name\": \"react-dom.profiling.min.js\",\n\t\t[...]
