{
  "log": {
    "_recordingName": "Resolver",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "d829d5fe42a04ca96514675e35510340",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://unpkg.com/react-dom@^16.10.0/package.json"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=utf-8",
            "size": 53,
            "text": "Found. Redirecting to /react-dom@16.13.1/package.json"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=utf-8"
            },
            {
              "name": "location",
              "value": "/react-dom@16.13.1/package.json"
            },
            {
              "name": "x-cloud-trace-context",
              "value": "67d60a4c9a315cc264c60b6d0934d8ce"
            }
          ],
          "status": 302,
          "statusText": "Found"
        },
        "time": 123,
      },
      {
        "_id": "9321dcab837aafe87f009dac17e5ad57",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://unpkg.com/@emotion/core@^10.0.28/package.json"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=utf-8",
            "size": 57,
            "text": "Found. Redirecting to /@emotion/core@10.0.28/package.json"
          },
          "hea[...]
