{
  "log": {
    "_recordingName": "Resolver",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "2817a9b905e55ee3d7af25312ac069ab",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cdn.jsdelivr.net/npm/react-ui@^1.0.0-beta.25/package.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1245,
            "text": "{\n  \"name\": \"react-ui\",\n  \"version\": \"1.0.0-beta.25\",\n  \"description\": \"Customisable components and primitives based on design tokens\",\n  \"homepage\": \"https://react-ui.dev\",\n  \"source\": \"index.js\",\n  \"main\": \"dist/index.js\",\n  \"files\": [\n    \"dist\",\n    \"themes\"\n  ],\n  \"scripts\": {\n    \"dev\": \"rollup -c -w\",\n    \"build\": \"rollup -c\",\n    \"test\": \"yarn build && bundlesize --enable-github-checks\"\n  },\n  \"keywords\": [],\n  \"author\": \"siddharthkp\",\n  \"license\": \"MIT\",\n  \"dependencies\": {\n    \"@emotion/core\": \"^10.0.28\",\n    \"@emotion/styled\": \"^10.0.27\",\n    \"@reach/auto-id\": \"^0.7.0\",\n    \"@reach/menu-button\": \"^0.7.0\",\n    \"deepmerge\": \"4.0.0\",\n    \"dlv\": \"^1.1.3\",\n    \"emotion-theming\": \"^10.0.27\",\n    \"facepaint\": \"^1.2.1\",\n    \"prop-types\": \"^15.7.2\"\n  },\n  \"devDependencies\": {\n    \"@babel/preset-env\": \"^7.7.4\",\n    \"@babel/preset-react\": \"^7.7.4\",\n    \"@ds-tools/storybook\": \"0.0.1\",\n    \"bundlesize2\": \"^0.0.24\",\n    \"rollup\": \"^1.27.8\",\n    \"rollup-plugin-babel\": \"^4.3.3\",\n    \"rollup-plugin-commonjs\": \"^10.1.0\",\n    \"rollup-plugin-json\": \"^4.0.0\",\n    \"rollup-plugin-node-resolve\": \"^5.2.0\",\n    \"rollup-plugin-peer-deps-external\": \"^2.2.0\"\n  },\n  \"peerDependencies\": {\n    \"react\": \"^16.8.6\",\n    \"react-dom\": \"^16.8.6\"\n  }\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"4dd-c+zHMzmCUUEYjQB5ndpcXeOJMaA\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1177,
      },
      {
        "_id": "2d29ee24188cccb5e08e3b6f2ef0fb9b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://data.jsdelivr.com/v1/package/npm/react-ui@1.0.0-beta.25/tree"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2337,
            "text": "{\n\t\"default\": \"/dist/index.min.js\",\n\t\"files\": [\n\t\t{\n\t\t\t\"type\": \"directory\",\n\t\t\t\"name\": \"dist\",\n\t\t\t\"files\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"directory\",\n\t\t\t\t\t\"name\": \"themes\",\n\t\t\t\t\t\"files\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"file\",\n\t\t\t\t\t\t\t\"name\": \"_rollupPluginBabelHelpers-00d81fcb.js\",\n\t\t\t\t\t\t\t\"hash\": \"p3w193jBC1VR9CGbynOjKgWTOV4+xw7uExsGd9WZ3bI=\",\n\t\t\t\t\t\t\t\"time\": \"1985-10-26T08:15:00.000Z\",\n\t\t\t\t\t\t\t\"size\": 1341\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"file\",\n\t\t\t\t\t\t\t\"name\": \"base.js\",\n\t\t\t\t\t\t\t\"hash\": \"QziI0KOGKPLP7IAqm6+BCYHH9XMHZ0dQYYedlzRRJP4=\",\n\t\t\t\t\t\t\t\"time\": \"1985-10-26T08:15:00.000Z\",\n\t\t\t\t\t\t\t\"size\": 5724\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"file\",\n\t\t\t\t\t\t\t\"name\": \"dark.js[...]
