{
  "log": {
    "_recordingName": "Resolver",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "aad248f830e65bb60555ebe97de34efd",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cdn.jsdelivr.net/npm/react@^16.10.0/package.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 759,
            "text": "{\n  \"name\": \"react\",\n  \"description\": \"React is a JavaScript library for building user interfaces.\",\n  \"keywords\": [\n    \"react\"\n  ],\n  \"version\": \"16.13.1\",\n  \"homepage\": \"https://reactjs.org/\",\n  \"bugs\": \"https://github.com/facebook/react/issues\",\n  \"license\": \"MIT\",\n  \"files\": [\n    \"LICENSE\",\n    \"README.md\",\n    \"build-info.json\",\n    \"index.js\",\n    \"cjs/\",\n    \"umd/\"\n  ],\n  \"main\": \"index.js\",\n  \"repository\": {\n    \"type\": \"git\",\n    \"url\": \"https://github.com/facebook/react.git\",\n    \"directory\": \"packages/react\"\n  },\n  \"engines\": {\n    \"node\": \">=0.10.0\"\n  },\n  \"dependencies\": {\n    \"loose-envify\": \"^1.1.0\",\n    \"object-assign\": \"^4.1.1\",\n    \"prop-types\": \"^15.6.2\"\n  },\n  \"browserify\": {\n    \"transform\": [\n      \"loose-envify\"\n    ]\n  }\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2f7-s7Uy/nkeylaeHvnwhCOhbIW/oT4\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 112,
      },
      {
        "_id": "79674a279b9bcfb6b728c1bb683b2580",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://data.jsdelivr.com/v1/package/npm/react@16.13.1/tree"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1984,
            "text": "{\n\t\"default\": \"/index.min.js\",\n\t\"files\": [\n\t\t{\n\t\t\t\"type\": \"directory\",\n\t\t\t\"name\": \"cjs\",\n\t\t\t\"files\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"file\",\n\t\t\t\t\t\"name\": \"react.development.js\",\n\t\t\t\t\t\"hash\": \"1l1WaZlDiwBPVdeLxJ1xkpOYRp86KkfyY4Qkpm1cQgo=\",\n\t\t\t\t\t\"time\": \"1985-10-26T08:15:00.000Z\",\n\t\t\t\t\t\"size\": 60645\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"file\",\n\t\t\t\t\t\"name\": \"react.production.min.js\",\n\t\t\t\t\t\"hash\": \"/6OR4xWWbNidsoM9qkxIWTb6+IS2BlRF3jhWdXgNZlw=\",\n\t\t\t\t\t\"time\": \"1985-10-26T08:15:00.000Z\",\n\t\t\t\t\t\"size\": 6675\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"type\": \"directory\",\n\t\t\t\"name\": \"umd\",\n\t\t\t\"files\": [\n\t\t\[...]
