{
  "log": {
    "_recordingName": "Velcro.runner/unpkg/will require the events shim",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "820ea1c43c4d3ed6c59ad6a0f80d5fa7",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://unpkg.com/@velcro/node-libs@0.56.2/package.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1569,
            "text": "{\n  \"name\": \"@velcro/node-libs\",\n  \"version\": \"0.56.2\",\n  \"description\": \"A curated collection of browser-compatible shims for node core modules\",\n  \"keywords\": [\n    \"node\",\n    \"core\",\n    \"libs\",\n    \"shim\",\n    \"browser\",\n    \"webpack\",\n    \"browserify\"\n  ],\n  \"author\": \"Geoff Goodman <ggoodman@gmail.com>\",\n  \"homepage\": \"https://github.com/ggoodman/velcro\",\n  \"license\": \"MIT\",\n  \"main\": \"lib/index.js\",\n  \"files\": [\n    \"lib\"\n  ],\n  \"publishConfig\": {\n    \"access\": \"public\"\n  },\n  \"repository\": {\n    \"type\": \"git\",\n    \"url\": \"git@github.com:ggoodman/velcro.git\"\n  },\n  \"scripts\": {\n    \"build\": \"echo Nothing to build\",\n    \"test\": \"echo Nothing to test\"\n  },\n  \"dependencies\": {\n    \"@types/hapi__code\": \"^5.3.0\",\n    \"@wessberg/rollup-plugin-ts\": \"^1.3.5\",\n    \"assert\": \"1.4.1\",\n    \"browserify-zlib\": \"^0.2.0\",\n    \"buffer\": \"5.2.1\",\n    \"crypto-browserify\": \"3.12.0\",\n    \"events\": \"3.0.0\",\n    \"memfs\": \"^2.15.5\",\n    \"node-libs-browser\": \"^2.2.0\",\n    \"os-browserify\": \"^0.3.0\",\n    \"querystring\": \"^0.2.0\",\n    \"readable-stream\": \"^3.3.0\",\n    \"stream-http\": \"^3.0.0\",\n    \"string_decoder\": \"^1.2.0\",\n    \"url-parse\": \"^1.4.6\",\n    \"util\": \"^0.11.1\",\n    \"vmdom\": \"^0.0.23\"\n  },\n  \"devDependencies\": {\n    \"@microsoft/api-documenter\": \"^7.9.1\",\n    \"@microsoft/api-extractor\": \"^7.10.1\",\n    \"@types/node\": \"^11.15.27\",\n    \"eslint\": \"^5.16.0\",\n    \"typescript\": \"^4.0.3\"\n  },\n  \"prettier\": {\n    \"printWidth\": 120,\n    \"singleQuote\": true,\n    \"tabWidth\": 2,\n    \"trailingComma\": \"es5\"\n  },\n  \"gitHead\": \"119090915cf2c484524e8dba7538202cbe2ddcce\"\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Sat, 26 Oct 1985 08:15:00 GMT"
            },
            {
              "name": "etag",
              "value": "W/\"621-+xdgkz119ybFc7LTDxEnCyjMq/E\""
            },
            {
              "name": "x-cloud-trace-context",
              "value": "bfc55451c9f7ed11b58f244d8605a4af"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 73,
      },
      {
        "_id": "07c198e640d764af7ceeb588e7393cb4",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "meta",
              "value": null
            }
          ],
          "url": "https://unpkg.com/@velcro/node-libs@0.56.2/?meta"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 6260,
            "text": "{\"path\":\"/\",\"type\":\"directory\",\"files\":[{\"path\":\"/lib\",\"type\":\"directory\",\"files\":[{\"path\":\"/lib/.eslintrc\",\"type\":\"file\",\"contentType\":\"text/plain\",\"integrity\":\"sha384-zbh/g2h4vh5KgRN+EOaRKApUmmEYp9aA/qIHRfyVczaEOJB72v3JVRQ28YB7cjGk\",\"lastModified\":\"Sat, 26 Oct 1985 08:15:00 GMT\",\"size\":169},{\"path\":\"/lib/assert.js\",\"type\":\"file\",\"contentType\":\"application/javascript\",\"integrity\":\"sha384-xTlhFYhL321cdtnI5a1fA1Qk5lR6f1PhNBTKt1BoICAJG/fdfoL9QLzUbvnME59n\",\"lastModified\":\"Sat, 26 Oct 1985 08:15:00 GMT\",\"size\":81},{\"path\":\"/lib/buffer.js\",\"type\":\"file\",\"contentType\":\"application/javascript\",\"integrity\":\"sha384-mleA/6sCG2X7Dzs5Zo3f9ZpjlXRqtYCHzpXopXNLJ+E/yc4rrJRj7QE2EjqTpk28\",\"lastModified\":\"Sat, 26 O[...]
