{
  "log": {
    "_recordingName": "Velcro.runner/unpkg/will require the events shim",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "799485c6719a6cadffd8f4f1c5202d13",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://unpkg.com/@velcro/node-libs@0.54.1/package.json"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=utf-8",
            "size": 44,
            "text": "Cannot find package @velcro/node-libs@0.54.1"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2c-QNHl0hIfTR/TW22bjcHYamjIu+Q\""
            },
            {
              "name": "x-cloud-trace-context",
              "value": "efe536b41659aaf9d5e39a7edaf31f0d"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 2214,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
