{
  "log": {
    "_recordingName": "Velcro.runner/jsdelivr/will run more complex package using react-dom/server",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "8a335d536692306282c46e29edddf9be",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cdn.jsdelivr.net/npm/react-alice-carousel@1.18.0/package.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 4457,
            "text": "{\n  \"name\": \"react-alice-carousel\",\n  \"version\": \"1.18.0\",\n  \"description\": \"React image gallery, react slideshow carousel, react content rotator\",\n  \"main\": \"./lib/react-alice-carousel\",\n  \"types\": \"./lib/types/index.d.ts\",\n  \"repository\": {\n    \"type\": \"git\",\n    \"url\": \"git+https://github.com/maxmarinich/react-alice-carousel.git\"\n  },\n  \"scripts\": {\n    \"build:dev\": \"webpack --colors --config config/webpack/webpack.config.js\",\n    \"build:prod\": \"cross-env npm run clean && webpack --config config/webpack/webpack.lib.config.js --progress --profile --colors\",\n    \"clean\": \"rm -rf lib dist\",\n    \"remove:nm\": \"find . -name 'node_modules' -type d -prune -exec rm -rf '{}' +\",\n    \"remove:dist\": \"npm run clean\",\n    \"remove:lock\": \"find . -type f \\\\( -name 'yarn.lock' -or -name 'package-lock.json' \\\\) -delete\",\n    \"remove:cache\": \"yarn cache clean --force; npm cache clean --force\",\n    \"clear:all-hard\": \"npm-run-all 'remove:*'\",\n    \"lib\": \"cross-env npm run clean && gulp --gulpfile config/gulp/gulpfile.js\",\n    \"lint\": \"eslint ./src/**/**.js\",\n    \"format\": \"prettier --write ./src/**/**.js\",\n    \"postpublish\": \"git push --tags\",\n    \"precommit\": \"cross-env npm run lint && npm test\",\n    \"prepare\": \"npm run lib\",\n    \"prepush\": \"cross-env npm run lint && npm test\",\n    \"start\": \"webpack-dev-server --config config/webpack/webpack.config.js\",\n    \"test\": \"jest\",\n    \"test:coverage\": \"jest --coverage\",\n    \"test:watch\": \"jest --watch\"\n  },\n  \"keywords\": [\n    \"react\",\n    \"carousel\",\n    \"gallery\",\n    \"slider\",\n    \"slideshow\",\n    \"rotator\",\n    \"react-slideshow\",\n    \"react-gallery\",\n    \"react carousel\",\n    \"react slideshow\",\n    \"react gallery\",\n    \"image gallery\",\n    \"image slider\",\n    \"image carousel\",\n    \"image rotator\",\n    \"content gallery\",\n    \"content rotator\"\n  ],\n  \"author\": \"Max Marinich\",\n  \"maintainers\": [\n    {\n      \"name\": \"Max Marinich\",\n      \"email\": \"max.marinich@gmail.com\"\n    }\n  ],\n  \"license\": \"MIT\",\n  \"bugs\": {\n    \"url\": \"https://github.com/maxmarinich/react-alice-carousel/issues\"\n  },\n  \"homepage\": \"https://github.com/maxmarinich/react-alice-carousel#readme\",\n  \"jest\": {\n    \"setupFiles\": [\n      \"<rootDir>/config/jest/shim.js\"\n    ],\n    \"testURL\": \"http://localhost/\",\n    \"collectCoverageFrom\": [\n      \"src/lib/**/*.{js,jsx,ts,tsx}\"\n    ],\n    \"moduleNameMapper\": {\n      \"\\\\.(jpg|jpeg|png|gif|eot|otf|webp|svg|ttf|woff|woff2|mp4|webm|wav|mp3|m4a|aac|oga)$\": \"<rootDir>/config/jest/assetsTransformer.js\",\n      \"\\\\.(css|less)$\": \"<rootDir>/config/jest/assetsTransformer.js\"\n    },\n    \"testMatch\": [\n      \"**/?(*.)(spec|test).js?(x)\"\n    ],\n    \"transform\": {\n      \"\\\\.js$\": \"babel-jest\"\n    }\n  },\n  \"peerDependencies\": {\n    \"react\": \">=15.4\"\n  },\n  \"dependencies\": {\n    \"prop-types\": \"^15.5.10\",\n    \"vanilla-swipe\": \"^1.2.0\"\n  },\n  \"devDependencies\": {\n    \"@babel/core\": \"^7.9.0\",\n    \"@babel/preset-env\": \"^7.9.0\",\n    \"@babel/preset-react\": \"^7.9.4\",\n    \"babel-eslint\": \"8.2.6\",\n    \"babel-jest\": \"^25.2.3\",\n    \"babel-loader\": \"^8.1.0\",\n    \"babel-plugin-transform-class-properties\": \"^6.24.1\",\n    \"babel-plugin-transform-object-assign\": \"^6.22.0\",\n    \"babel-preset-react-hmre\": \"1.1.1\",\n    \"copy-webpack-plugin\": \"^5.1.1\",\n    \"cross-env\": \"5.2.0\",\n    \"css-hot-loader\": \"1.4.2\",\n    \"css-loader\": \"1.0.0\",\n    \"enzyme\": \"3.4.4\",\n    \"enzyme-adapter-react-16\": \"1.2.0\",\n    \"eslint\": \"5.0.0\",\n    \"eslint-config-airbnb\": \"17.1.0\",\n    \"eslint-config-prettier\": \"^3.1.0\",\n    \"eslint-loader\": \"2.1.0\",\n    \"eslint-plugin-import\": \"2.13.0\",\n    \"eslint-plugin-jsx-a11y\": \"6.1.1\",\n    \"eslint-plugin-prettier\": \"^2.6.2\",\n    \"eslint-plugin-react\": \"7.11.1\",\n    \"extract-text-webpack-plugin\": \"4.0.0-beta.0\",\n    \"file-loader\": \"1.1.11\",\n    \"gulp\": \"^4.0.2\",\n    \"gulp-autoprefixer\": \"^3.1.1\",\n    \"gulp-babel\": \"^8.0.0\",\n    \"gulp-concat\": \"^2.6.1\",\n    \"gulp-rename\": \"^1.2.2\",\n    \"gulp-sass\": \"^3.1.0\",\n    \"gulp-strip-comments\": \"^2.5.1\",\n    \"html-webpack-plugin\": \"3.2.0\",\n    \"husky\": \"0.15.0-rc.2\",\n    \"jest\": \"^25.1.0\",\n    \"node-sass\": \"^4.13.0\",\n    \"prettier\": \"^1.14.3\",\n    \"react\": \"^16.13.1\",\n    \"react-addons-test-utils\": \"15.6.2\",\n    \"react-dom\": \"^16.13.1\",\n    \"react-hot-loader\": \"^4.12.20\",\n    \"react-router-dom\": \"^4.3.1\",\n    \"react-test-renderer\": \"16.4.2\",\n    \"sass-loader\": \"7.1.0\",\n    \"style-loader\": \"0.22.1\",\n    \"url-loader\": \"1.0.1\",\n    \"webpack\": \"^4.42.0\",\n    \"webpack-cli\": \"^3.3.11\",\n    \"webpack-dev-server\": \"^3.1.11\"\n  }\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"1169-nkcGcmFV5eAX6aDw/4tr2e6TJQU\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 113,
      },
      {
        "_id": "43670b14d4182f78d21db3b19196a123",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cdn.jsdelivr.net/npm/react@^16.13.1/package.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 759,
            "text": "{\n  \"name\": \"react\",\n  \"description\": \"React is a JavaScript library for building user interfaces.\",\n  \"keywords\": [\n    \"react\"\n  ],\n  \"version\": \"16.13.1\",\n  \"homepage\": \"https://reactjs.org/\",\n  \"bugs\": \"https://github.com/facebook/react/issues\",\n  \"license\": \"MIT\",\n  \"files\": [\n    \"LICENSE\",\n    \"README.md\",\n    \"build-info.json\",\n    \"index.js\",\n    \"cjs/\",\n    \"umd/\"\n  ],\n  \"main\": \"index.js\",\n  \"repository\": {\n    \"type\": \"git\",\n    \"url\": \"https://github.com/facebook/react.git\",\n    \"directory\": \"packages/react\"\n  },\n  \"engines\": {\n    \"node\": \">=0.10.0\"\n  },\n  \"dependencies\": {\n    \"loose-envify\": \"^1.1.0\",\n    \"object-assign\": \"^4.1.1\",\n    \"prop-types\": \"^15.6.2\"\n  },\n  \"browserify\": {\n    \"transform\": [\n      \"loose-envify\"\n    ]\n  }\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2f7-s7Uy/nkeylaeHvnwhCOhbIW/oT4\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 121,
      },
      {
        "_id": "03d87756737ee7a1dc6310eb9c85b062",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cdn.jsdelivr.net/npm/react-dom@^16.13.1/package.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1172,
            "text": "{\n  \"name\": \"react-dom\",\n  \"version\": \"16.13.1\",\n  \"description\": \"React package for working with the DOM.\",\n  \"main\": \"index.js\",\n  \"repository\": {\n    \"type\": \"git\",\n    \"url\": \"https://github.com/facebook/react.git\",\n    \"directory\": \"packages/react-dom\"\n  },\n  \"keywords\": [\n    \"react\"\n  ],\n  \"license\": \"MIT\",\n  \"bugs\": {\n    \"url\": \"https://github.com/facebook/react/issues\"\n  },\n  \"homepage\": \"https://reactjs.org/\",\n  \"dependencies\": {\n    \"loose-envify\": \"^1.1.0\",\n    \"object-assign\": \"^4.1.1\",\n    \"prop-types\": \"^15.6.2\",\n    \"scheduler\": \"^0.19.1\"\n  },\n  \"peerDependencies\": {\n    \"react\": \"^16.13.1\"\n  },\n  \"files\": [\n    \"LICENSE\",\n    \"README.md\",\n    \"build-info.json\",\n    \"index.js\",\n    \"profiling.js\",\n    \"server.js\",\n    \"server.browser.js\",\n    \"server.node.js\",\n    \"test-utils.js\",\n    \"unstable-fire.js\",\n    \"unstable-fizz.js\",\n    \"unstable-fizz.browser.js\",\n    \"unstable-fizz.node.js\",\n    \"unstable-native-dependencies.js\",\n    \"cjs/\",\n    \"umd/\"\n  ],\n  \"browser\": {\n    \"./server.js\": \"./server.browser.js\",\n    \"./unstable-fizz.js\": \"./unstable-fizz.browser.js\"\n  },\n  \"browserify\": {\n    \"transform\": [\n      \"loose-envify\"\n    ]\n  }\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"494-AEogy6b9uxqOMWATuw27f//Oprw\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 117,
      },
      {
        "_id": "0b5fc69013201c6e05b188c8ae57b473",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://data.jsdelivr.com/v1/package/npm/react-alice-carousel@1.18.0/tree"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 5790,
            "text": "{\n\t\"default\": \"/lib/react-alice-carousel\",\n\t\"files\": [\n\t\t{\n\t\t\t\"type\": \"directory\",\n\t\t\t\"name\": \"lib\",\n\t\t\t\"files\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"directory\",\n\t\t\t\t\t\"name\": \"scss\",\n\t\t\t\t\t\"files\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"file\",\n\t\t\t\t\t\t\t\"name\": \"_fade-animation.scss\",\n\t\t\t\t\t\t\t\"hash\": \"CS91llEbEv7D/T1waDB1jhb3sJ2W8MFU3E2bUBsHKgk=\",\n\t\t\t\t\t\t\t\"time\": \"1985-10-26T08:15:00.000Z\",\n\t\t\t\t\t\t\t\"size\": 456\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"file\",\n\t\t\t\t\t\t\t\"name\": \"alice-carousel.scss\",\n\t\t\t\t\t\t\t\"hash\": \"ODWX60mtFXsk6V59Lp6O4PEjgKNiowkipdF4EWcLAGU=\",\n\t\t\t\t\t\t\t\"time\": \"1985-10-26T08:15:00.000Z\",\n\t\t\t\t\t\t\t\"size\": 3173\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"file\",\n\t\t\t\t\t\t\t\"name\"[...]
