{
  "log": {
    "_recordingName": "Velcro.runner/unpkg/will run more complex package using react-dom/server",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "4b82b376309b5e73f7641b6047e6ed66",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://unpkg.com/react-dom@^16.13.1/package.json"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=utf-8",
            "size": 53,
            "text": "Found. Redirecting to /react-dom@16.13.1/package.json"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=utf-8"
            },
            {
              "name": "location",
              "value": "/react-dom@16.13.1/package.json"
            },
            {
              "name": "x-cloud-trace-context",
              "value": "45db5a089f96234055f0d92f75c5632e"
            }
          ],
          "status": 302,
          "statusText": "Found"
        },
        "time": 79,
      },
      {
        "_id": "64180c2320d3a67771df29af1e12dc47",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://unpkg.com/react-alice-carousel@1.18.0/package.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 4457,
            "text": "{\n  \"name\": \"react-alice-carousel\",\n  \"version\": \"1.18.0\",\n  \"description\": \"React image gallery, react slideshow carousel, react content rotator\",\n  \"main\": \"./lib/react-alice-carousel\",\n  \"types\": \"./lib/types/index.d.ts\",\n  \"repository\": {\n    \"type\": \"git\",\n    \"url\": \"git+https://github.com/maxmarinich/react-alice-carousel.git\"\n  },\n  \"scripts\": {\n    \"build:dev\": \"webpack --colors --config config/webpack/webpack.config.js\",\n    \"build:prod\": \"cross-env npm run clean && webpack --config config/webpack/webpack.lib.config.js --progress --profile --colors\",\n    \"clean\": \"rm -rf lib dist\",\n    \"remove:nm\": \"find . -name 'node_modules' -type d -prune -exec rm -rf '{}' +\",\n    \"remove:dist\": \"npm run clean\",\n    \"remove:lock\": \"find . -type f \\\\( -name 'yarn.lock' -or -name 'package-lock.json' \\\\) -delete\",\n    \"remove:cache\": \"yarn cache clean --force; npm cache clean --force\",\n    \"clear:all-hard\": \"npm-run-all 'remove:*'\",\n    \"lib\": \"cross-env npm run clean && gulp --gulpfile config/gulp/gulpfile.js\",\n    \"lint\": \"eslint ./src/**/**.js\",\n    \"format\": \"prettier --write ./src/**/**.js\",\n    \"postpublish\": \"git push --tags\",\n    \"precommit\": \"cross-env npm run lint && npm test\",\n    \"prepare\": \"npm run lib\",\n    \"prepush\": \"cross-env npm run lint && npm test\",\n    \"start\": \"webpack-dev-server --config config/webpack/webpack.config.js\",\n    \"test\": \"jest\",\n    \"test:coverage\": \"jest --coverage\",\n    \"test:watch\": \"jest --watch\"\n  },\n  \"keywords\": [\n    \"react\",\n    \"carousel\",\n    \"gallery\",\n    \"slider\",\n    \"slideshow\",\n    \"rotator\",\n    \"react-slideshow\",\n    \"react-gallery\",\n    \"react carousel\",\n    \"react slideshow\",\n    \"react gallery\",\n    \"image gallery\",\n    \"image slider\",\n    \"image carousel\",\n    \"image rotator\",\n    \"content gallery\",\n    \"content rotator\"\n  ],\n  \"author\": \"Max Marinich\",\n  \"maintainers\": [\n    {\n      \"name\": \"Max Marinich\",\n      \"email\": \"max.marinich@gmail.com\"\n    }\n  ],\n  \"license\": \"MIT\",\n  \"bugs\": {\n    \"url\": \"https://github.com/maxmarinich/react-alice-carousel/issues\"\n  },\n  \"homepage\": \"https://github.com/maxmarinich/react-alice-carousel#readme\",\n  \"jest\": {\n    \"setupFiles\": [\n      \"<rootDir>/config/jest/shim.js\"\n    ],\n    \"testURL\": \"http://localhost/\",\n    \"collectCoverageFrom\": [\n      \"src/lib/**/*.{js,jsx,ts,tsx}\"\n    ],\n    \"moduleNameMapper\": {\n      \"\\\\.(jpg|jpeg|png|gif|eot|otf|webp|svg|ttf|woff|woff2|mp4|webm|wav|mp3|m4a|aac|oga)$\": \"<rootDir>/config/jest/assetsTransformer.js\",\n      \"\\\\.(css|less)$\": \"<rootDir>/config/jest/assetsTransformer.js\"\n    },\n    \"testMatch\": [\n      \"**/?(*.)(spec|test).js?(x)\"\n    ],\n    \"transform\": {\n      \"\\\\.js$\": \"babel-jest\"\n    }\n  },\n  \"peerDependencies\": {\n    \"react\": \">=15.4\"\n  },\n  \"dependencies\": {\n    \"prop-types\": \"^15.5.10\",\n    \"vanilla-swipe\": \"^1.2.0\"\n  },\n  \"devDependencies\": {\n    \"@babel/core\": \"^7.9.0\",\n    \"@babel/preset-env\": \"^7.9.0\",\n    \"@babel/preset-react\": \"^7.9.4\",\n    \"babel-eslint\": \"8.2.6\",\n    \"babel-jest\": \"^25.2.3\",\n    \"babel-loader\": \"^8.1.0\",\n    \"babel-plugin-transform-class-properties\": \"^6.24.1\",\n    \"babel-plugin-transform-object-assign\": \"^6.22.0\",\n    \"babel-preset-react-hmre\": \"1.1.1\",\n    \"copy-webpack-plugin\": \"^5.1.1\",\n    \"cross-env\": \"5.2.0\",\n    \"css-hot-loader\": \"1.4.2\",\n    \"css-loader\": \"1.0.0\",\n    \"enzyme\": \"3.4.4\",\n    \"enzyme-adapter-react-16\": \"1.2.0\",\n    \"eslint\": \"5.0.0\",\n    \"eslint-config-airbnb\": \"17.1.0\",\n    \"eslint-config-prettier\": \"^3.1.0\",\n    \"eslint-loader\": \"2.1.0\",\n    \"eslint-plugin-import\": \"2.13.0\",\n    \"eslint-plugin-jsx-a11y\": \"6.1.1\",\n    \"eslint-plugin-prettier\": \"^2.6.2\",\n    \"eslint-plugin-react\": \"7.11.1\",\n    \"extract-text-webpack-plugin\": \"4.0.0-beta.0\",\n    \"file-loader\": \"1.1.11\",\n    \"gulp\": \"^4.0.2\",\n    \"gulp-autoprefixer\": \"^3.1.1\",\n    \"gulp-babel\": \"^8.0.0\",\n    \"gulp-concat\": \"^2.6.1\",\n    \"gulp-rename\": \"^1.2.2\",\n    \"gulp-sass\": \"^3.1.0\",\n    \"gulp-strip-comments\": \"^2.5.1\",\n    \"html-webpack-plugin\": \"3.2.0\",\n    \"husky\": \"0.15.0-rc.2\",\n    \"jest\": \"^25.1.0\",\n    \"node-sass\": \"^4.13.0\",\n    \"prettier\": \"^1.14.3\",\n    \"react\": \"^16.13.1\",\n    \"react-addons-test-utils\": \"15.6.2\",\n    \"react-dom\": \"^16.13.1\",\n    \"react-hot-loader\": \"^4.12.20\",\n    \"react-router-dom\": \"^4.3.1\",\n    \"react-test-renderer\": \"16.4.2\",\n    \"sass-loader\": \"7.1.0\",\n    \"style-loader\": \"0.22.1\",\n    \"url-loader\": \"1.0.1\",\n    \"webpack\": \"^4.42.0\",\n    \"webpack-cli\": \"^3.3.11\",\n    \"webpack-dev-server\": \"^3.1.11\"\n  }\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Sat, 26 Oct 1985 08:15:00 GMT"
            },
            {
              "name": "etag",
              "value": "W/\"1169-nkcGcmFV5eAX6aDw/4tr2e6TJQU\""
            },
            {
              "name": "x-cloud-trace-context",
         [...]
