{
  "log": {
    "_recordingName": "SourceMap support/will produce a correct map for preact",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "edd50d2524c27eefb2fd59523b2890d6",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cdn.jsdelivr.net/npm/preact@10.4.4/package.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 7290,
            "text": "{\n  \"name\": \"preact\",\n  \"amdName\": \"preact\",\n  \"version\": \"10.4.4\",\n  \"private\": false,\n  \"description\": \"Fast 3kb React-compatible Virtual DOM library.\",\n  \"main\": \"dist/preact.js\",\n  \"module\": \"dist/preact.module.js\",\n  \"umd:main\": \"dist/preact.umd.js\",\n  \"unpkg\": \"dist/preact.umd.js\",\n  \"source\": \"src/index.js\",\n  \"exports\": {\n    \".\": {\n      \"browser\": \"./dist/preact.module.js\",\n      \"umd\": \"./dist/preact.umd.js\",\n      \"import\": \"./dist/preact.mjs\",\n      \"require\": \"./dist/preact.js\"\n    },\n    \"./compat\": {\n      \"browser\": \"./compat/dist/compat.module.js\",\n      \"umd\": \"./compat/dist/compat.umd.js\",\n      \"require\": \"./compat/dist/compat.js\",\n      \"import\": \"./compat/dist/compat.mjs\"\n    },\n    \"./debug\": {\n      \"browser\": \"./debug/dist/debug.module.js\",\n      \"umd\": \"./debug/dist/debug.umd.js\",\n      \"require\": \"./debug/dist/debug.js\",\n      \"import\": \"./debug/dist/debug.mjs\"\n    },\n    \"./devtools\": {\n      \"browser\": \"./devtools/dist/devtools.module.js\",\n      \"umd\": \"./devtools/dist/devtools.umd.js\",\n      \"require\": \"./devtools/dist/devtools.js\",\n      \"import\": \"./devtools/dist/devtools.mjs\"\n    },\n    \"./hooks\": {\n      \"browser\": \"./hooks/dist/hooks.module.js\",\n      \"umd\": \"./hooks/dist/hooks.umd.js\",\n      \"require\": \"./hooks/dist/hooks.js\",\n      \"import\": \"./hooks/dist/hooks.mjs\"\n    },\n    \"./test-utils\": {\n      \"browser\": \"./test-utils/dist/testUtils.module.js\",\n      \"umd\": \"./test-utils/dist/testUtils.umd.js\",\n      \"require\": \"./test-utils/dist/testUtils.js\",\n      \"import\": \"./test-utils/dist/testUtils.mjs\"\n    },\n    \"./compat/server\": {\n      \"require\": \"./compat/server.js\"\n    },\n    \"./package.json\": \"./package.json\",\n    \"./\": \"./\"\n  },\n  \"license\": \"MIT\",\n  \"funding\": {\n    \"type\": \"opencollective\",\n    \"url\": \"https://opencollective.com/preact\"\n  },\n  \"types\": \"src/index.d.ts\",\n  \"scripts\": {\n    \"prepare\": \"run-s build\",\n    \"build\": \"npm-run-all --parallel build:*\",\n    \"build:core\": \"microbundle build --raw\",\n    \"build:debug\": \"microbundle build --raw --cwd debug\",\n    \"build:devtools\": \"microbundle build --raw --cwd devtools\",\n    \"build:hooks\": \"microbundle build --raw --cwd hooks\",\n    \"build:test-utils\": \"microbundle build --raw --cwd test-utils\",\n    \"build:compat\": \"microbundle build --raw --cwd compat --globals 'preact/hooks=preactHooks'\",\n    \"postbuild\": \"node ./config/node-13-exports.js\",\n    \"dev\": \"microbundle watch --raw --format cjs\",\n    \"dev:hooks\": \"microbundle watch --raw --format cjs --cwd hooks\",\n    \"dev:compat\": \"microbundle watch --raw --format cjs --cwd compat --globals 'preact/hooks=preactHooks'\",\n    \"test\": \"npm-run-all build lint test:unit\",\n    \"test:unit\": \"run-p test:mocha test:karma:minify test:ts\",\n    \"test:ts\": \"run-p test:ts:*\",\n    \"test:ts:core\": \"tsc -p test/ts/ && mocha --require \\\"@babel/register\\\" test/ts/**/*-test.js\",\n    \"test:ts:compat\": \"tsc -p compat/test/ts/\",\n    \"test:mocha\": \"mocha --recursive --require \\\"@babel/register\\\" test/shared test/node\",\n    \"test:mocha:watch\": \"npm run test:mocha -- --watch\",\n    \"test:karma\": \"cross-env COVERAGE=true karma start karma.conf.js --single-run\",\n    \"test:karma:minify\": \"cross-env COVERAGE=true MINIFY=true karma start karma.conf.js --single-run\",\n    \"test:karma:watch\": \"karma start karma.conf.js --no-single-run\",\n    \"test:karma:hooks\": \"cross-env COVERAGE=false karma start karma.conf.js --grep=hooks/test/browser/**.js --no-single-run\",\n    \"test:karma:test-utils\": \"cross-env PERFORMANCE=false COVERAGE=false karma start karma.conf.js --grep=test-utils/test/shared/**.js --no-single-run\",\n    \"test:karma:bench\": \"cross-env PERFORMANCE=true COVERAGE=false karma start karma.conf.js --grep=test/benchmarks/**.js --single-run\",\n    \"benchmark\": \"npm run test:karma:bench -- no-single-run\",\n    \"lint\": \"eslint src test debug compat hooks test-utils\"\n  },\n  \"eslintConfig\": {\n    \"extends\": [\n      \"developit\",\n      \"prettier\"\n    ],\n    \"settings\": {\n      \"react\": {\n        \"pragma\": \"createElement\"\n      }\n    },\n    \"rules\": {\n      \"camelcase\": [\n        1,\n        {\n          \"allow\": [\n            \"__test__*\",\n            \"unstable_*\",\n            \"UNSAFE_*\"\n          ]\n        }\n      ],\n      \"no-unused-vars\": [\n        2,\n        {\n          \"args\": \"none\",\n          \"varsIgnorePattern\": \"^h|React$\"\n        }\n      ],\n      \"prefer-rest-params\": 0,\n      \"prefer-spread\": 0,\n      \"no-cond-assign\": 0,\n      \"react/jsx-no-bind\": 0,\n      \"react/no-danger\": \"off\",\n      \"react/prefer-stateless-function\": 0,\n      \"react/sort-comp\": 0,\n      \"jest/valid-expect\": 0,\n      \"jest/no-disabled-tests\": 0,\n      \"react/no-find-dom-node\": 0\n    }\n  },\n  \"eslintIgnore\": [\n    \"test/fixtures\",\n    \"test/ts/\",\n    \"*.ts\",\n    \"dist\"\n  ],\n  \"prettier\": {\n    \"singleQuote\": true,\n    \"trailingComma\": \"none\",\n    \"useTabs\": true,\n    \"tabWidth\": 2\n  },\n  \"lint-staged\": {\n    \"**/*.{js,jsx,ts,tsx}\": [\n      \"prettier --write\",\n      \"git add\"\n    ]\n  },\n  \"husky\": {\n    \"hooks\": {\n      \"pre-commit\": \"lint-staged\"\n    }\n  },\n  \"files\": [\n    \"src\",\n    \"dist\",\n    \"compat/dist\",\n    \"compat/src\",\n    \"compat/server.js\",\n    \"compat/package.json\",\n    \"debug/dist\",\n    \"debug/src\",\n    \"debug/package.json\",\n    \"devtools/dist\",\n    \"devtools/src\",\n    \"devtools/package.json\",\n    \"hooks/dist\",\n    \"hooks/src\",\n    \"hooks/package.json\",\n    \"test-utils/src\",\n    \"test-utils/package.json\",\n    \"test-utils/dist\"\n  ],\n  \"keywords\": [\n    \"preact\",\n    \"react\",\n    \"ui\",\n    \"user interface\",\n    \"virtual dom\",\n    \"vdom\",\n    \"components\",\n    \"dom diff\"\n  ],\n  \"authors\": [\n    \"Jason Miller <jason@developit.ca>\"\n  ],\n  \"repository\": \"preactjs/preact\",\n  \"bugs\": \"https://github.com/preactjs/preact/issues\",\n  \"homepage\": \"https://preactjs.com\",\n  \"devDependencies\": {\n    \"@babel/core\": \"^7.7.0\",\n    \"@babel/plugin-proposal-object-rest-spread\": \"^7.6.2\",\n    \"@babel/plugin-transform-react-jsx\": \"^7.7.0\",\n    \"@babel/plugin-transform-react-jsx-source\": \"^7.7.4\",\n    \"@babel/preset-env\": \"^7.7.1\",\n    \"@babel/register\": \"^7.7.0\",\n    \"@types/chai\": \"^4.1.2\",\n    \"@types/mocha\": \"^5.0.0\",\n    \"@types/node\": \"^10.5.2\",\n    \"babel-loader\": \"^8.0.6\",\n    \"babel-plugin-istanbul\": \"^6.0.0\",\n    \"babel-plugin-transform-async-to-promises\": \"^0.8.15\",\n    \"babel-plugin-transform-rename-properties\": \"0.0.3\",\n    \"benchmark\": \"^2.1.4\",\n    \"chai\": \"^4.1.2\",\n    \"coveralls\": \"^3.0.0\",\n    \"cross-env\": \"^5.2.0\",\n    \"diff\": \"^3.5.0\",\n    \"eslint\": \"5.15.1\",\n    \"eslint-config-developit\": \"^1.1.1\",\n    \"eslint-config-prettier\": \"^6.5.0\",\n    \"eslint-plugin-react\": \"7.12.4\",\n    \"husky\": \"^3.0.9\",\n    \"karma\": \"^3.0.0\",\n    \"karma-chai-sinon\": \"^0.1.5\",\n    \"karma-chrome-launcher\": \"^2.2.0\",\n    \"karma-coverage\": \"^2.0.1\",\n    \"karma-mocha\": \"^1.3.0\",\n    \"karma-mocha-reporter\": \"^2.2.5\",\n    \"karma-sauce-launcher\": \"^1.2.0\",\n    \"karma-sinon\": \"^1.0.5\",\n    \"karma-sourcemap-loader\": \"^0.3.7\",\n    \"karma-webpack\": \"^3.0.5\",\n    \"lint-staged\": \"^9.4.2\",\n    \"lodash\": \"^4.17.10\",\n    \"microbundle\": \"^0.11.0\",\n    \"mocha\": \"^5.2.0\",\n    \"npm-merge-driver-install\": \"^1.1.1\",\n    \"npm-run-all\": \"^4.0.0\",\n    \"prettier\": \"^1.18.2\",\n    \"prop-types\": \"^15.7.2\",\n    \"sinon\": \"^6.1.3\",\n    \"sinon-chai\": \"^3.0.0\",\n    \"typescript\": \"^3.0.1\",\n    \"webpack\": \"^4.3.0\"\n  }\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"1c7a-XbIaL/cOE5xMpl/aCps/3WlJceE\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 133,
      },
      {
        "_id": "d1e22e0dadca9e0d2156ef724d1a0602",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://data.jsdelivr.com/v1/package/npm/preact@10.4.4/tree"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 19959,
            "text": "{\n\t\"default\": \"/dist/preact.min.js\",\n\t\"files\": [\n\t\t{\n\t\t\t\"type\": \"directory\",\n\t\t\t\"name\": \"hooks\",\n\t\t\t\"files\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"directory\",\n\t\t\t\t\t\"name\": \"dist\",\n\t\t\t\t\t\"files\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"file\",\n\t\t\t\t\t\t\t\"name\": \"hooks.js\",\n\t\t\t\t\t\t\t\"hash\": \"9aioNI3x+nWpZtl/hoWspUueQ7XuNIUBkyzZwQ5xM00=\",\n\t\t\t\t\t\t\t\"time\": \"1985-10-26T08:15:00.000Z\",\n\t\t\t\t\t\t\t\"size\": 2671\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"file\",\n\t\t\t\t\t\t\t\"name\": \"hooks.js.map\",\n\t\t\t\t\t\t\t\"hash\": \"vSirYNaX+MpTuIDY7v78bzyI3JAm6/QRSgtL5pHy4bM=\",\n\t\t\t\t\t\t\t\"time\": \"1985-10-26T08:15:00.000Z\",\n\t\t\t\t\t\t\t\"size\": 14335\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"type\": \"file\",\n\t\t\t\t\t\t\t\"name\": \"h[...]
