{
  "log": {
    "_recordingName": "Velcro.Resolver/jsDelivr/will resolve htm from htm/react",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "2c57b92394f6d4b3b87771a7199a0edd",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cdn.jsdelivr.net/npm/htm@3.0.4/package.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3300,
            "text": "{\n  \"name\": \"htm\",\n  \"version\": \"3.0.4\",\n  \"description\": \"The Tagged Template syntax for Virtual DOM. Only browser-compatible syntax.\",\n  \"main\": \"dist/htm.js\",\n  \"umd:main\": \"dist/htm.umd.js\",\n  \"module\": \"dist/htm.module.js\",\n  \"types\": \"dist/htm.d.ts\",\n  \"scripts\": {\n    \"build\": \"npm run -s build:main && npm run -s build:mini && npm run -s build:preact && npm run -s build:react && npm run -s build:babel && npm run -s build:babel-transform-jsx && npm run -s build:mjsalias\",\n    \"build:main\": \"microbundle src/index.mjs -f es,umd --no-sourcemap --target web && microbundle src/cjs.mjs -f iife --no-sourcemap --target web && cp src/index.d.ts dist/htm.d.ts\",\n    \"build:mini\": \"microbundle src/index.mjs -o ./mini/index.js -f es,umd --no-sourcemap --target web --alias ./constants.mjs=./constants-mini.mjs && microbundle src/cjs.mjs -o ./mini/index.js -f iife --no-sourcemap --target web --alias ./constants.mjs=./constants-mini.mjs && cp src/index.d.ts mini\",\n    \"build:preact\": \"cd src/integrations/preact && npm run build\",\n    \"build:react\": \"cd src/integrations/react && npm run build\",\n    \"build:babel\": \"cd packages/babel-plugin-htm && npm run build\",\n    \"build:babel-transform-jsx\": \"cd packages/babel-plugin-transform-jsx-to-htm && npm run build\",\n    \"build:mjsalias\": \"cp dist/htm.module.js dist/htm.mjs && cp mini/index.module.js mini/index.mjs && cp preact/index.module.js preact/index.mjs && cp preact/standalone.module.js preact/standalone.mjs && cp react/index.module.js react/index.mjs\",\n    \"test\": \"eslint src/**/*.mjs test/**/*.mjs && npm run build && jest test\",\n    \"test:perf\": \"v8 test/__perftest.mjs\",\n    \"release\": \"npm t && git commit -am \\\"$npm_package_version\\\" && git tag $npm_package_version && git push && git push --tags && npm publish\"\n  },\n  \"files\": [\n    \"dist\",\n    \"mini\",\n    \"preact\",\n    \"react\",\n    \"src\"\n  ],\n  \"eslintConfig\": {\n    \"extends\": \"developit\",\n    \"rules\": {\n      \"prefer-const\": 0,\n      \"prefer-spread\": 0,\n      \"prefer-rest-params\": 0,\n      \"func-style\": 0\n    }\n  },\n  \"jest\": {\n    \"testURL\": \"http://localhost\",\n    \"testMatch\": [\n      \"**/__tests__/**/*.?(m)js?(x)\",\n      \"**/?(*.)(spec|test).?(m)js?(x)\"\n    ],\n    \"transform\": {\n      \"\\\\.m?js$\": \"babel-jest\"\n    },\n    \"moduleFileExtensions\": [\n      \"mjs\",\n      \"js\"\n    ],\n    \"moduleNameMapper\": {\n      \"^babel-plugin-transform-jsx-to-htm$\": \"<rootDir>/packages/babel-plugin-transform-jsx-to-htm/index.mjs\",\n      \"^babel-plugin-htm$\": \"<rootDir>/packages/babel-plugin-htm/index.mjs\",\n      \"^htm$\": \"<rootDir>/src/index.mjs\",\n      \"^htm/preact$\": \"<rootDir>/src/integrations/preact/index.mjs\"\n    }\n  },\n  \"repository\": \"developit/htm\",\n  \"keywords\": [\n    \"Hyperscript Tagged Markup\",\n    \"tagged template\",\n    \"template literals\",\n    \"html\",\n    \"htm\",\n    \"jsx\",\n    \"virtual dom\",\n    \"hyperscript\"\n  ],\n  \"author\": \"Jason Miller <jason@developit.ca>\",\n  \"license\": \"Apache-2.0\",\n  \"homepage\": \"https://github.com/developit/htm\",\n  \"devDependencies\": {\n    \"@babel/core\": \"^7.2.2\",\n    \"@babel/preset-env\": \"^7.1.6\",\n    \"babel-jest\": \"^24.1.0\",\n    \"babel-preset-env\": \"^1.7.0\",\n    \"eslint\": \"^5.2.0\",\n    \"eslint-config-developit\": \"^1.1.1\",\n    \"jest\": \"^24.1.0\",\n    \"microbundle\": \"^0.10.1\",\n    \"preact\": \"^10.0.0\",\n    \"react\": \"^16.8.3\"\n  }\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"ce4-q9V8em4/was0za55bipyNPimk78\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 77,
      },
      {
        "_id": "e143eeabc9ba683cf9130af0bc520281",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://data.jsdelivr.com/v1/package/npm/htm@3.0.4/tree"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 8271,
            "text": "{\n\t\"default\": \"/dist/htm.min.js\",\n\t\"files\": [\n\t\t{\n\t\t\t\"type\": \"directory\",\n\t\t\t\"name\": \"dist\",\n\t\t\t\"files\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"file\",\n\t\t\t\t\t\"name\": \"htm.d.ts\",\n\t\t\t\t\t\"hash\": \"YxgpBrIk1T64e0MSJOuhYhVjL1zhuFQHXRWaPVdi8FI=\",\n\t\t\t\t\t\"time\": \"1985-10-26T08:15:00.000Z\",\n\t\t\t\t\t\"size\": 218\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"file\",\n\t\t\t\t\t\"name\": \"htm.js\",\n\t\t\t\t\t\"hash\": \"gOOa/iD9YRg0Eu2onvoQUy1XlF5jZGQqzqzVDrI4S0s=\",\n\t\t\t\t\t\"time\": \"1985-10-26T08:15:00.000Z\",\n\t\t\t\t\t\"size\": 1265\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"file\",\n\t\t\t\t\t\"name\": \"htm.mjs\",\n\t\t\t\t\t\"hash\": \"qzPdPzgFm5vk1fU1ASju+yNWY5x[...]
